{#
/**
 * @file
 *
 * Available variables:
 * - raw_badge: Array of data about the badge straight from the Fitbit API.
 * - image: Badge image.
 * - name: The name of the badge.
 *
 * @ingroup themeable
 */
#}
{%- set attributes = attributes.addClass('fitbit-badge') %}
<figure{{ attributes }}>
  {{ image }}
  <figcaption>{{ name }}</figcaption>
</figure>
